   <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>
Acces Key
</title>
{% load static %}
<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
<link href="{% static 'assets/css/bootstrap.min.css '%}" rel="stylesheet">
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/bootstrap.css' %}">
<link href="{% static 'assets/css/owl.carousel.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'assets/font-awesome-4.1.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
 <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
 <![endif]-->

</head>

<body>
<!-- PRELOADER STARTS HERE -->
  <div class="shym-preloader"></div>
  <!-- /PRELOADER ENDS HERE-->



<!-- HEADER STARTS HERE -->
 <header class="navbar navbar-inverse navbar-fixed-top heading" role="banner">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle togglebutton" data-toggle="collapse" data-target=".navbar-collapse">
<span class="sr-only">VirtualKey</span>
<span class="icon-bar"></span>

</button>


<a class='shym-logo'> <img src="{% static 'assets/img/logovk.png' %}" alt='Shym'/></a>    
<ul class='shym-social-icons'>
  <p>Virtual Key</p> 
</ul>
</div>

 

</div>
</header><!---->

<!-- HEADER ENDS HERE -->

<!--GALLERY STARTS HERE -->

  <section class='gallery'>


   <div class="home-caption">
                <div class="home-title">VIRTUAL KEY</div>
                <div class="home-subtitle">TIRED OF WAITING FOR HOURS AND HOURS, BECAUSE THE KEYS ARE LOST?
                <div class="home-subtitle">THANKS TO OUR ACCES KEY , THIS WAS IN THE PAST.
.</div>
                <a href="#" class="btn btn-lg downloadbtn">Download Virtual Key</a>
                <h1>{{ Name }}</h1>
            </div>




  </section>

  <!-- /GALLERY ENDS HERE -->
  <!-- OPTION STARTS HERE-->
  <section class='shym-option'>
  <div class='container'>
  <div class="row">
      {% for item in doors %}

        <div  class="col-sm-4 shym-option-container">
         <!-- <span data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s" ><i class="fa fa-camera"></i></span>-->
          <img src="{{item.image}}">
          <h3 class="shym-text-uppercase"> {{item.name}}</h3>
          <a class="name_state" href="#" title="">{{item.state}} </a>
        </div>

    {% endfor %}
      </div>
      <!-- /COLUMNS -->
    </div>
  </section>

</div>
</section>

<!--SHYM CONTACT START HERE -->
<footer class="shym-contact">


        <!--======= CONTACT INFO PART =========-->
        <div class="con-info">
          <div class="row">
		  
		</div>
      </div>
    </div>
    <div class="copyrights">
      <div class="container">
        <p class="pull-left">© 2016  Proyecto A.D.S.I. 954088</p>
       <p class="pull-right">App <a href='http://www.scriptcafe.in'>Virtual Key </a></p>
      </div>

  </footer>



    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'assets/js/scrollReveal.js' %}"></script>
	<script src="{% static 'assets/js/function.js' %}"></script>

</body>
</html>
